.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
  gap: 1.5rem;
}

.postpic {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.postbtn {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.likecount {
  color: var(--gray);
}

.flexseting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.flexseting > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flexseting > div > h2 {
  font-weight: 100;
}
